/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.wrapper {
}
.main-page {
}
.parallax-block {
}
.parallax-block__list {
}
.parallax-block__background {
}
.parallax-block__rope.parallax-block__rope_mod1 {
}
.parallax-block__rope.parallax-block__rope_mod2 {
}
.parallax-block__rope.parallax-block__rope_mod3 {
}
.parallax-block__wave.parallax-block__wave_mod1 {
}
.parallax-block__wave.parallax-block__wave_mod2 {
}
.parallax-block__wave.parallax-block__wave_mod3 {
}
.parallax-block__light-house {
}
.parallax-block__wave.parallax-block__wave_mod4 {
}
.parallax-block__wave.parallax-block__wave_mod5 {
}
.parallax-block__wave.parallax-block__wave_mod6 {
}
.parallax-block__elem.parallax-block__elem_mod1 {
}
.parallax-block__elem.parallax-block__elem_mod2 {
}
.parallax-block__elem.parallax-block__elem_mod3 {
}
.parallax-block__elem.parallax-block__elem_mod4 {
}
.parallax-block__elem.parallax-block__elem_mod5 {
}
.parallax-block__elem.parallax-block__elem_mod6 {
}
.parallax-block__elem.parallax-block__elem_mod7 {
}
.parallax-block__elem.parallax-block__elem_mod8 {
}
